
/*============================================================
PRECOS
============================================================*/
.db-bk-color-one {
    background-color: #f55039;
}

.db-bk-color-two {
    background-color: #46A6F7;
}

.db-bk-color-three {
    background-color: #47887E;
}

.db-bk-color-six {
    background-color: #F59B24;
}
/*============================================================
PRICING STYLES
==========================================================*/
.db-padding-btm {
    padding-bottom: 50px;
}
.db-button-color-square {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.db-button-color-square:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
}


.db-pricing-eleven {
    /*margin-bottom: 30px;*/
    /*margin-top: 50px;*/
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    color: #fff;
    line-height: 30px;
}

.db-pricing-eleven ul {
    list-style: none;
    margin: 0;
    text-align: center;
    padding-left: 0px;
}

.db-pricing-eleven ul li {
    padding-top: 0px;
    /*padding-bottom: 20px;*/
    cursor: pointer;
}

.db-pricing-eleven ul li i {
    margin-right: 5px;
}


.db-pricing-eleven .price {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px 20px 8px 20px;
    font-size: 12pt;
    font-weight: 900;
    color: #FFFFFF;
}

.db-pricing-eleven .price small {
    color: #B8B8B8;
    display: block;
    font-size: 12px;
    margin-top: 22px;
}

.db-pricing-eleven .type {
    background-color: #52E89E;
    padding: 50px 20px;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
}

.db-pricing-eleven .pricing-footer {
    /*padding: 20px;*/
}

.db-attached > .col-lg-4,
.db-attached > .col-lg-3,
.db-attached > .col-md-4,
.db-attached > .col-md-3,
.db-attached > .col-sm-4,
.db-attached > .col-sm-3 {
    padding-left: 0;
    padding-right: 0;
}
/*============================================================
PRECOS FIM
============================================================*/
.right-section{
    width: 70%;
}
.main-area {
    position: relative;
    height: 100vh;
    background: #053354;
    color: #fff;
}
.error {
    color: red;
}
.form-header {
    text-align: center;
}

.form-header h3 {
    font-family: "Muli-SemiBold";
    font-size: 22pt;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 25px;
}

.actions li a {
    padding: 10px;
    padding-left: 10px;
    border: none;
    display: inline-flex;
    padding: 10px;
    align-items: center;
    background: #e9e0cf;
    font-family: "Muli-SemiBold";
    color: #666;
    cursor: pointer;
    position: relative;
    margin: 10px;
}
.actions li[aria-disabled="true"] a {
    opacity: 0;
    transition: all 1s;
}
.current-info.audible {
    display: none;
}

.wizard > .steps .current-info, .wizard > .steps .number {
    display: none; }

.wizard > .steps ul {
    display: flex;
    justify-content: center; }

.wizard > .steps li a {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #e9e0cf;
    margin-right: 78px;
    position: relative; }
.wizard > .steps li a:before {
    content: "";
    width: 58px;
    height: 2px;
    background: #e9e0cf;
    position: absolute;
    right: 22px;
    top: 5px; }
.wizard > .steps li a:after {
    content: "";
    width: 0;
    height: 2px;
    background: #453e79;
    position: absolute;
    left: -68px;
    top: 5px;
    transition: all 0.6s ease; }
.wizard > .steps li.first a {
    background: #453e79; }
.wizard > .steps li.checked a {
    background: #453e79; }
.wizard > .steps li.checked a:after {
    width: 58px; }
.wizard > .steps li:last-child a {
    margin-right: 0; }
.wizard > .steps li:first-child a:before {
    display: none; }
.wizard > .steps li:first-child a:after {
    display: none; }

/**/
.wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    height: 50vh;
    /*padding: 2rem;*/
    /*background-color: #eee;*/
}

.container1 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem;
    width: 768px;
    height: 100%;

}
.container1 p{
    color: #FFF0ED !important;
}
.container__heading > h2 {
    font-size: 1.75rem;
    line-height: 1.75rem;
    margin: 0;
}
.container__content {
    flex-grow: 1;
    overflow-y: scroll;
}
.container__nav {
    border-top: 1px solid #ccc;
    text-align: right;
    padding: 2rem 0 1rem;
}
.container__nav > .button {
    background-color: #444499;
    box-shadow: 0rem 0.5rem 1rem -0.125rem rgba(0, 0, 0, 0.25);
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    transition: transform 0.25s, box-shadow 0.25s;
}
.container__nav > .button:hover {
    box-shadow: 0rem 0rem 1rem -0.125rem rgba(0, 0, 0, 0.25);
    transform: translateY(-0.5rem);
}
.container__nav > small {
    color: #FFF0ED;
    margin-right: 1rem;
}
/**/
@media (max-width: 600px)
{
    .right-section{
        width: 100%;
    }
    .main-area {
        position: relative;
        height: 100vh;
    }
}

@media (max-width: 480px)
{
    .right-section{
        width: 100%;
    }
    .main-area {
        position: relative;
        height: 100vh;
    }
}
